*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.container {
    height: 100vh;
}

.cabecalho {
    display: flex;
    padding: 0 30px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d9dbe0;
}

.links {
    display: flex;
    gap: 50px;
}

.link{
    text-decoration: none;
    color: #030303;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.55;
    font-weight: 400;
    
}

.link:hover {
    color: #0053ff;
}

.acesso{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    padding: 60px;
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
}

.text-title {
    color: #030303;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.25;
}

.text-body {
    color: #030303;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.45;
}

.text-btn {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    background-color: #0053ff;
    padding: 15px 20px;
    max-width: fit-content;
    color: white;
    text-transform: uppercase;
}

.acesso-img {
    max-width: 60%;
}

